<section>
  <section>
    <article>
        <h3>Hello Stupid!</h3>
        <p>
          ca va?
          </p>
          <ul>
            <li *ngFor = "let person of people;">
              {{ person }}
            </li>
          </ul>
        <p>
          <span *ngIf = 'show; else XXX'>ITS TRUE!!</span>
          i can have a whole buch of shit over here between these two guys.  like lots of stuff, they can be in totally seperate parts of the layout.
          <ng-template #XXX>blah blah blah...</ng-template>
        </p>
        <div [ngSwitch] = 'theValue' [class.special] = 'isSpecial'>
          <div *ngSwitchCase = "'1'">one</div>
          <div *ngSwitchCase = "'2'">two</div>
          <div *ngSwitchCase = "'3'">three</div>
          <div *ngSwitchDefault>number...</div>
        </div>

        <h4 [ngClass] = 'currentClasses'>Am I pretty???</h4>
        <p [ngStyle] = 'currentStyles'>Hi there kitty cat</p>


        
        <ul>
          <li *ngFor = "let user of users">
            {{ user.name }}
          </li>
        </ul>
    </article>
  </section>
</section>
